---
import { LanguageSelector } from "astro-i18next/components";
import { localizePath } from "astro-i18next";
import { t } from "i18next";
import Logo from "./Logo.astro";
import NavItem from "./NavItem.astro";

const links = [
  {
    link: localizePath("/"),
    label: t("nav.home.label")
  },
  {
    link: localizePath("#projects"),
    label: t("nav.projects.label")
  },
  {
    link: localizePath("#contact"),
    label: t("nav.contact.label")
  },
]
---

<nav class="navbar">
  <a href={localizePath("/")}>
    <Logo/>
  </a>
  <ul class="pages">
    {links.map( el => <NavItem label={el.label} link={el.link}/>)}
  </ul>
  <LanguageSelector showFlag={false} class="languages" title={t("nav.select.languages.title")} />
</nav>


<style>

  ul {
    list-style: none;
    display: flex;
    gap: 10px;
  }
  
  .navbar {
    position: fixed;
    width: 100vw;
    min-height: 5rem;
    display: flex;
    justify-content: space-evenly ;
    padding: 1rem;
    align-content: center;
    height: 8vh;
    backdrop-filter: blur(20px);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  }

  .languages {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    font-weight: 600;
    border: 2px solid #dadada;
    appearance: none;
    background-color: white;
    border-radius: 5px;
    padding: 0.4em 0.6em; 
    font-family: system-ui, sans-serif;
    font-size: var(--font-size-base);
    height: fit-content;  
    align-self: center;
  }
</style>