---
import IconSelector from '@icons/IconSelector.astro';

export interface Props { 
  label?: string,
  backgroundColor?: string,
  icon?: string,
  iconColor?: string,
  textColor?: string
}
const { label, backgroundColor, icon, iconColor, textColor } = Astro.props;
---
<span class="tag" style={`background-color: ${backgroundColor}`}>

  <IconSelector icon={icon}/>

  <span class="label">
    {label}
  </span>
</span>

<style>
  .tag {
    padding: 4px 5px;
    border-radius: 5px;
    border: 0.5px solid;
    display: flex;
    align-content: flex-end;
    gap: 5px;
    height: fit-content;
  }
  .tag > svg {
    width: 10px;
    height: 10px;
  }
  .label {
    display: inline-flex;
    align-items: center;
    font-size: 0.7rem;
    font-weight: 700;
  }
</style>